<div>
  <h2>Hello, im from test component..!</h2>
  <!-- {{getData() | json}} -->
  <!-- <p>{{ekvariable}}</p> -->

  <h3>{{name | uppercase}}</h3>
  <h3>{{name | lowercase}}</h3>
  <h3>{{name | titlecase}}</h3>
  <h3>{{name | slice : 2 : 3}}</h3>

  <h3>{{price | currency}}</h3>
  <h3>{{price | currency : 'INR'}}</h3>
  <h3>{{price | currency : 'Rs.'}}</h3>

  <h3>{{price | percent }}</h3>

  <h3>{{date}}</h3>
  <h3>{{date | date : 'shortDate'}}</h3>
  <h3>{{date | date : 'fullDate'}}</h3>
  <h3>{{date | date : 'dd/MM/yyyy'}}</h3>
  
</div>

