<h2>Student Detail Component</h2>
<table align="center">
  <th>Roll No</th> 
  <th>Name</th>
  <th>Address</th>
  <tr *ngFor = "let student of students">
    <td>{{student.rollno}}</td>
    <td>{{student.name}}</td>
    <td>{{student.address}}</td>
  </tr>
</table>
