<h2>Student Component</h2>
<button type="button" (click) = "getdata()">Get Data</button>
<table align="center">
  <!-- <th>Roll No</th>  -->
  <th>Name</th>
  <!-- <th>Address</th> -->
  <tr *ngFor = "let student of students">
    <!-- <td>{{student.rollno}}</td> -->
    <td>{{student.name}}</td>
    <!-- <td>{{student.address}}</td> -->
  </tr>
</table>